<!DOCTYPE html>
<html>
<head>
	<title>Where 2 Wag</title>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
	<script type="text/javascript" src="/js/jquery.min.js"></script>
	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
</head>
<body>
	<% include partials/nav %>
	<!-- <div class="container"> -->
		<%- body %>
	<div class="clearfix footer">
		<footer class="clearfix">
			<h6 class="text-center">© Where2Wag All rights reserved.</h6>
		</footer>
	</div>
</body>
</html>
