body{
  background-color: rgba(244, 216, 0, 0.51);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.navbar-default {
   background-color:transparent !important;
   border-color:transparent;
   background-image:none;
   box-shadow:none;
}
.navbar-default .navbar-brand {
    color: #ffffff;
}
.navbar-default .navbar-nav>li>a {
  color: #ffffff;
}
