<div class="row">
    <div class="col-sm-6 col-sm-offset-3">

      <h2><%= location.name %></h2>
      <div class="well">
        <ul class="list-group">
          <% location.name.forEach((l) => { %>

      <h2><% businesses.forEach((b) => { %>
          <%= l.name %>(<%= l.city %>)</h2>

      <% }) %>


      </div> -->
    </div>
</div>
