<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h2><%= location.name %></h2>
      <div class="well">
        <ul class="list-group">
          <% location.name.forEach((l) => { %>
            <li class="list-group-item">
              <h3>
                <a href="/locations/<%=l._id%>">
                <%= l.name %></h3>
            </li>
          <% }) %>
        </ul>
      </div>
    </div>
</div>
