    <!-- Site -->
    <link rel="stylesheet" href="../public/css/app_1.min.css">
    <link rel="stylesheet" href="../public/css/app_2.min.css">

    <!-- Page Loader JS -->
    <script src="../public/js/page-loader.min.js" async></script>


<style media="screen">
  .search-results{
    padding: 2%;
  }
</style>
<div class="col-lg-12 well border-radius">
  <h1 class="text-center">Search Results</h1>
      <% businesses.forEach((b) => { %>
        <div class="search-results">
          <a href="/location/<%= b.id %>">
            <img src="<%= b.image_url %>" alt="">
            <%= b.name %> (<%= b.location.city %>)
          </a>
        </div>

      <% }) %>
</div>

<div class="media-body">
    <div class="listings-grid__body">
        <small>735 San Angelo, TX 76901</small>
        <h5>Cras justo odio dapibus facilisis egestas</h5>
    </div>

    <ul class="listings-grid__attrs">
        <li><i class="listings-grid__icon listings-grid__icon--bed"></i> 02</li>
        <li><i class="listings-grid__icon listings-grid__icon--bath"></i> 01</li>
        <li><i class="listings-grid__icon listings-grid__icon--parking"></i> 01</li>
    </ul>
</div>
</a>

<div class="actions listings-grid__favorite">
<div class="actions__toggle">
    <input type="checkbox">
    <i class="zmdi zmdi-favorite-outline"></i>
    <i class="zmdi zmdi-favorite"></i>
</div>
</div>
</div>
