<style media="screen">
  .search-results{
    padding: 2%;
  }
</style>

<div class="container">
  <div class="col-lg-12 well border-radius">
    <h1 class="text-center">Search Results</h1>
        <% businesses.forEach((b) => { %>
          <div class="search-results">
            <h3><a href="/location/<%= b.id %>">
              <img src="<%= b.image_url %>" alt="" class="border-radius">
              <%= b.name %> (<%= b.location.city %>)
            </a></h3>
          </div>

        <% }) %>
  </div>
</div>
