<style media="screen">
  .user-about{
    background-color: white;
  }
  .avatar{
    width: 82%;
  }

  .center{
    margin: 0 auto;
  }

  .user-pic, .user-info{
    display: inline-block;
  }

  .user-about {
    margin-top: 3%;
  }
</style>

<div class="row">
  <div class="user-about well"><!-- User Info-->
    <div class="user-pic">
      <img src="/images/dog-no-pic.png" alt="" class="circle avatar">
    </div>
    <div class="user-info">
      <h1 class="user-name">Jane Doe</h1>
      <h3 class="user-city">Santa Monica, CA</h3>
      <h6> Favorites | Reviews</h6>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-3 well"><!-- User Reviews-->
    <h2>Reviews</h2>
  </div>
  <div class="col-lg-9 well"><!-- User Favorites-->
    <h2>Favorites</h2>
  </div>
</div>
