<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <h2><%= user.local.name %></h2>
    <div class="well">
      <ul class="list-group">
        <% user.reviews.forEach((r) => { %>
          <li class="list-group-item">
            <h3>
              <a href="/location/<%=r._id%>">
              <%= r. title %></h3>
          </li>
        <% }) %>
      </ul>
    </div>
  </div>
</div>
