<div class="row"><!-- User Info-->
  <div class="avatar">
    <img src="" alt="">
  </div>
  <div class="user-about">
    <h1>Jane Doe</h1>
    <h3>Santa Monica, CA</h3>
    <h6> Favorites | Reviews</h6>
  </div>
</div>
<div class="row">
  <div class="col-lg-3"><!-- User Reviews-->

  </div>
  <div class="col-lg-9"><!-- User Favorites-->

  </div>
</div>
